<html
>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" media="screen" href="./static/css/foundation.css" />
</head>

<body  style="background-color:  seashell;">
  
  <center><h1>DELETE DATA</h1></center>
  
  <center>
      <div class="grid-container grid-padding-x">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3">       
          </div>
          <div class="cell medium-6">
              <p><h5>MATRICULA</h5>
              1718110412</p>      
          </div>
          <div class="cell medium-3" style="background-color:  seashell;">
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          
          <div class="cell small-6 large-2" style="background-color: seashell;">
            <p>
              <h5>NAME </h5>
              Emma Yuridia
            </p>
          </div>

          <div class="cell small-6 large-2" style="background-color:  seashell;">
            <p>
              <h5>SURNAME</h5>
              Romero Sosa
            </p>
          </div>

          <div class="cell small-6 large-1" style="background-color:   seashell;">
            <p>
              <h5>AGE</h5>
              20
            </p>
          </div> 
          
          <div class="cell small-6 large-3" style="background-color:  seashell;">
            <p>
              <h5>BIRTHDAY</h5>
              17/05/2000
            </p>
          </div>
          <div class="cell small-6 large-2" style="background-color:  seashell;">
            <p>
              <h5>GENDER</h5>
              Femenino
            </p>
          </div>
          <div class="cell small-6 large-2" style="background-color:  seashell;">
            <p>
              <h5>STATE</h5>
              State
            </p>          
          </div>
        </div>
      </div>
      <a href="/list"class="button primary">Return</a>
      <button type="SUBMIT" class="success button">Save</button>

  </center>

</body>

</html>