<html
>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" media="screen" href="./static/css/foundation.css" />
</head>

<body  style="background-color:  seashell;">
  
  <center><h1>UPDATE DATA</h1></center>
  
  <center>
    <form method="POST">
      <div class="grid-container grid-padding-x">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3" style="background-color:  seashell;">       
          </div>
          <div class="cell medium-6" style="background-color:  seashell;">
            <label>
              <h5>MATRICULA</h5>
              <input type="number" placeholder="MATRICULA" value="1718110412"/>
            </label>          
          </div>
          <div class="cell medium-3" style="background-color:  seashell;">
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          
          <div class="cell small-6 large-4" style="background-color: seashell;">
            <label>
              <h5>NAME </h5>
              <input type="text" placeholder="NAME" value="Emma Yuridia"/>
            </label>
          </div>

          <div class="cell small-6 large-4" style="background-color:  seashell;">
            <label>
              <h5>SURNAME</h5>
              <input type="text" placeholder="PATERNAL SURNAME" value="Romero"/>
            </label>
          </div>

          <div class="cell small-6 large-4" style="background-color:  seashell;">
            <label>
              <h5 style="color:seashell;">.</h5>
              <input type="text" placeholder="MATERNAL SURNAME" value="Sosa"/>
            </label>
          </div>
          
          <div class="cell small-6 large-3" style="background-color:   seashell;">
            <label>
              <h5>AGE</h5>
              <input type="NUMBER" placeholder="AGE" value="20"/>
            </label>
          </div> 
          
          <div class="cell small-6" style="background-color:  seashell;">
            <label>
              <h5>BIRTHDAY</h5>
            </label>
            <div class="grid-x grid-padding-x">
                <input type="date" value="17052000"/>
            </div>
          </div>
          <div class="cell small-6 large-3" style="background-color:  seashell;">
            <label>
              <fieldset class="large-5 cell">
                <legend><h5>GENDER</h5></legend>
                <input type="radio" name="GENERO" value="MUJER" id="MUJER"/><label for="MUJER">FEMENINO</label>
                <input type="radio" name="GENERO" value="HOMBRE" id="HOMBRE"/><label for="HOMBRE">MASCULINO</label>
              </fieldset>
            </label>
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3" style="background-color:  seashell;">
          </div>

          <div class="cell medium-6" style="background-color:  seashell;">
            <label>
              <h5>STATE</h5>
              <input type="text" placeholder="ESTADO" value="state"/>
            </label>          
          </div>
          <div class="cell medium-3" style="background-color:  seashell;">
          </div>

        </div>
        <a href="/list"class="button primary">Return</a>
        <button type="SUBMIT" class="success button">Save</button>

      </div>

    
    </form>
  </center>

</body>

</html>